*  {
  box-sizing:border-box;
}

html, #root{
  height:100%;
  width:100%;
  display:flex;
}

body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.main{
  display:flex;
  flex:1;
  flex-direction:column;
}

header{
  position:fized;
  height:80px;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 5px 10px 0 rgba(27, 139, 219, 0.05);
  padding: 0 30px;
}

.username{
  display:flex;
  flex-direction:column;
  align-content:center;
  align-items:center;
}

.chat{
  display:grid;
  color:black;
}

.messages{
  display:flex;
  flex-direction:column-reverse;
}

.received-message{
  justify-self:start;
  border-radius:15px;
  background-color:lightgrey;
  color:black;
  padding:10px;
  margin:5px;
}

.received{
  justify-self:start;
  margin:5px;
}

.sent-message{
  justify-self:end;
  border-radius:15px;
  background-color:#008B8B;
  color:white;
  padding:10px;
  margin:5px;
  border-radius:15px;
}

.sent{
  justify-self:end;
  margin:5px;
}

footer{
  height:80px;
  display:flex;
  box-shadow:0 -5px 10px 0 rgba(0, 0, 0, 0.03);
  position:relative;
}

footer input{
  justify-content:space-between;
  background-color:#E8E8E8;
  width:100%;
  margin:10px;
  height:30px;
  border-radius:25px;
  border:none;
  color:#A9A9A9;
  padding:0 0 0 10px;
  flex:1;
}

.footer button{
  top:13px;
  right:20px;
  height:25px;
  width:25px;
  position:absolute;
  border:none;
  background-image:url('https://www.nicepng.com/png/full/81-819178_free-png-paper-plane-png-images-transparent-send.png');
  background-size:contain;
  background-repeat:no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
}

.name-picker{
  display:flex;
}

.msg-name{
  margin-left: 10px;
}