html,body{
  height:100%;
  display:flex;
  flex:1;
}

.App {
  display:flex;
  flex:1;
  align-items: center;
  justify-content: center;
  position:absolute;
  top: 0; left:0; bottom:0; right:0;
  flex-direction:column;
}

.search-function{
  display:flex;
  align-items:center;
  flex-direction:row;
  margin-top:50px;
}
.search-button{
  width:30px;
}
.memes{
  display:flex;
  flex-direction:row;


}